{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block content %}
<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    	<link rel="stylesheet" href="{% static 'css/blog.css' %}">

		<title>Sarı Karides Resmi Websitesi</title>

	</head>
	
<body>
    <div class="post">
        {% if post.yayinlanma_tarihi %}
            <div class="date">
                {{ post.yayinlanma_tarihi }}
            </div>
        {% endif %}
        <h1>{{ post.baslik }}</h1>
        <p>{{ post.yazi|linebreaks }}</p>
    </div>
</body>
	
    
</html>

{% endblock %}